#filter-routines-search,
#filter-activities-search {
  width: 380px;
}

#routines-header,
#activities-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#routines-list,
#activities-list {
  margin-top: 15px;
  overflow: auto;
  flex: 1 0 0;
}

#open-close-create-activity,
#filter-activities-button,
#open-close-create-routine,
#filter-routines-button {
  background-color: #586ba4;
  color: white;
}

#filter-routines-button,
#filter-activities-button {
  margin-left: 10px;
  padding: 0 10px;
}

#open-close-create-activity,
#open-close-create-routine {
  padding: 5px 10px;
}

#create-activity-form,
#create-routine-form {
  background-color: red;
  width: 70%;
  align-self: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f68e5f;
  box-shadow: 8px 8px 8px #586ba4;
  transition-duration: 500ms;
}

#create-activity-form-inputs,
#create-routine-form-inputs {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#create-activity-form-inputs > *,
#create-routine-form-inputs > * {
  margin-top: 5px;
}

#create-activity-button,
#create-routine-button {
  background-color: #324376;
  color: white;
  padding: 5px;
  font-size: 18px;
}

#create-activity-buttons > button #create-routine-buttons > button {
  margin: 5px 10px;
  width: 150px;
}

.routine-card,
.activity-card {
  margin: 5px;
  border: 1px solid #324376;
  border-radius: 7px;
  box-shadow: 2px 2px 2px #8a897c;
  margin-top: 15px;
  padding: 10px;
  background-color: #f4faff;
}

.routine-card:hover,
.activity-card:hover {
  background-color: rgb(212, 232, 248);
}

.routine-card-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  gap: 40px;
}

.routine-name {
  font-size: 25px;
}

.routine-creator,
.routine-goal {
  font-size: 20px;
}

.routine-creator {
  font-style: italic;
}

.try-routine-button {
  flex-shrink: 0;
  font-size: 14px;
  font-weight: bold;
  width: 185px;
  text-align: center;
  padding: 10px 30px;
  align-self: center;
  border-radius: 10px;
  background-color: #f68e5f;
  color: white;
  margin-right: 40px;
  cursor: pointer;
  transition-duration: 300ms;
}

.try-routine-button:hover {
  background-color: #e66529;
  padding: 15px 0px;
  font-size: 16px;
  transition-duration: 500ms;
  transition-property: padding;
}

.routine-activities-header {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-top: 2px solid #324376;
  border-bottom: 2px solid #324376;
  margin: 20px 100px 5px;
}

.routine-activity-bubble-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
}

.routine-activity-bubble {
  background-color: #f68e5f;
  box-shadow: 2px 2px 2px #586ba4;
  color: white;
  margin: 10px 10px 10px 0;
  padding: 10px 15px;
  border-radius: 15px;
}

.your-routine-message {
  color: #f68e5f;
  font-weight: bold;
}
