#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
}

#logged-in-declaration {
  position: absolute;
  top: 0;
  right: 0;
  color: #324376;
}

#company-name {
  color: #324376;
  font-size: 35px;
}

#company-slogan {
  color: #f68e5f;
  font-size: 19px;
  font-style: italic;
  text-shadow: 1px 1px 1px #586ba4;
}
