* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#root > div {
  width: 800px;
}

#main {
  flex: 1 0;
  overflow: auto;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: rgb(162, 11, 11);
}
