* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#website-colors {
  color: #586ba4;
  color: #324376;
  color: #f4faff;
  color: #f68e5f;
  color: #8a897c;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#root > div {
  width: 800px;
}

#main {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  margin-top: 10px;
}

.homepage p {
  margin: 15px 0;
}

.homepage img {
  margin: 15px 5px 15px 20px;
  float: right;
  width: 400px;
}
