#nav {
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 0;
}

#nav-links {
  color: red;
  display: flex;
  justify-content: space-between;
  flex: 0 1 600px;
}

#nav-links a,
#logout-link {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

#nav-links a:hover,
#logout-link:hover {
  color: rgb(162, 11, 11);
}
